<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>

</head>
<body>
  <form method="post">
    Code : <input type="text" id="Code" name="Code"> <br/>
    Name : <input type="text" id="Name" name="Name"> <br/>
    <button id="btnSignUp" type="button">Sign up</button>
  </form>
    <script>
        $(function(){
	$('#btnSignUp').click(function(){
		$.ajax({
			url: '/signup',
			data: $('form').serialize(),
			type: 'POST',
			success: function(response){
				console.log(response);
				location.href = "students"
			},
			error: function(error){
				console.log(error);
			}
		});
	});
});

    </script>
</body>
</html>